@font-face {
  font-family: "Roobert Mono";
  src:
    url("/fonts/RoobertMonoTRIAL-Regular.woff2") format("woff2"),
    url("/fonts/RoobertMonoTRIAL-Regular.woff") format("woff"),
    url("/fonts/RoobertMonoTRIAL-Regular.ttf") format("truetype");
  font-weight: normal;
}

@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "Roobert Mono", sans-serif;
  /* font-family: "Cascadia Mono", sans-serif; */
  /* font-family: "Playfair Display", serif; */
  background-color: #c9cdd1;
}
