---
import HeroCard from "../components/HeroCard.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Bento from "../components/Bento.astro";
import Footer from "../components/Footer.astro";
import BlogSection from "../components/BlogSection.astro";
import Loader from "../components/Loader.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<script>
  import Lenis from "lenis";

  const lenis = new Lenis();

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
<Layout showLoader={true} title="My Portfolio">
  <div class="pb-8 page-content">
    <Navbar />
    <div class="hero-card">
      <HeroCard />
    </div>
    <div class="experience pt-24">
      <Experience />
    </div>
    <div class="bento">
      <Bento />
    </div>
    <BlogSection />
    <Footer />
  </div>
</Layout>
