---
interface Props {
  text?: string;
  size?: "xs" | "sm" | "md" | "lg";
  className?: string;
}

const { text = "", size = "md", className = "" } = Astro.props;

// Define size-based classes
const sizeClasses = {
  xs: "px-2 py-1 text-[9px] gap-2",
  sm: "px-3 py-1 text-xs gap-1",
  md: "px-2 sm:px-3 py-1 sm:py-2 text-xs  sm:text-sm gap-1 sm:gap-2",
  lg: "p-3 sm:p-4 md:p-4  text-sm sm:text-base gap-2 sm:gap-3",
};

const classes = sizeClasses[size];
---

<div
  class={`bg-[var(--card-bg)] text-[var(--text-secondary)] border border-[var(--border-color)] font-semibold w-fit flex items-center ${classes} ${className}`}
>
  <slot />
  {text}
</div>
