---
import { Image } from "astro:assets";
import { SimpleMarquee } from "./react/SimpleMarquee";
import {
  astro,
  fastapi,
  flutter,
  langchain,
  langgraph,
  mongodb,
  nestjs,
  nextjs,
  nodejs,
  ollama,
  pwa,
  python,
  svelte,
} from "../assets/svgs";
import { Marquee } from "./react/Marquee";
// Define an array of tech stack items
const techStack = [
  {
    name: "Svelte",
    icon: svelte,
    alt: "Svelte/SvelteKit",
  },
  {
    name: "Next.js",
    icon: nextjs,
    alt: "Next.js",
  },
  {
    name: "Python",
    icon: python,
    alt: "Python",
  },
  {
    name: "Node.js",
    icon: nodejs,
    alt: "Node.js",
  },
  {
    name: "LangChain",
    icon: langchain,
    alt: "LangChain",
  },
  {
    name: "Progressive Web App",
    icon: pwa,
    alt: "Progressive Web App",
  },
  {
    name: "Flutter",
    icon: flutter,
    alt: "Flutter",
  },
  {
    name: "FastAPI",
    icon: fastapi,
    alt: "FastAPI",
  },
  {
    name: "MongoDB",
    icon: mongodb,
    alt: "MongoDB",
  },
  {
    name: "NestJS",
    icon: nestjs,
    alt: "NestJS",
  },
  {
    name: "LangGraph",
    icon: langgraph,
    alt: "LangGraph",
  },
  {
    name: "Ollama",
    icon: ollama,
    alt: "Ollama",
  },
  {
    name: "Astro",
    icon: astro,
    alt: "Astro",
  },
];
---

<div class="relative flex w-full flex-col items-center justify-center">
  <Marquee>
    {
      [...techStack, ...techStack].map((tech) => (
        <div class="flex-shrink-0 mx-2  ">
          <div class="tech-icon-wrapper">
            <Image
              src={tech.icon}
              alt={tech.alt}
              class="h-11 w-20 object-contain tech-icon"
            />
          </div>
        </div>
      ))
    }
  </Marquee>
</div>

<style is:global>
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-125%);
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }

  .animate-marquee {
    animation: marquee var(--duration, 5s) linear infinite;
    min-width: 100%;
    will-change: transform;
  }
  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 40s) linear infinite;
  }

  /* Theme-aware technology icons */
  html:not(.dark-theme) .tech-icon {
    filter: brightness(0.9) invert(0.2);
  }

  html.dark-theme .tech-icon {
    filter: brightness(08) invert(0.5);
  }
</style>
